<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Api Hub</title>
    <!-- bootstrap4 cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <!--header start-->
     
    <div>
        <h1 class="text-center display-3 p-3 mb-2 bg-info text-white"><b>Api Hub</b></h1><br>
    </div>
  <!-- <h1><a href="{% url 'city_weather' %}">weather</a></h1><br>
    <h1><a href="{% url 'codeforce_user_view' %}">Codeforce api</a></h1><br>
    <h1><a href="{% url 'github_Profile_view' %}">github api</a></h1><br>
  -->
<div class="container">
    <div class="row">
      <div class="jumbotron">
        <div class="card" style="width:320px">
            <img class="card-img-top" src="static/weather.jpg" alt="Card image">
            <div class="card-body">
              
              <a href="{% url 'city_weather' %}" class="stretched-link"><b>Weather Application</b></a>
              
            </div>
          </div>
        </div>

        
        <div class="jumbotron">
          <div class="card" style="width:320px">
              <img class="card-img-top" src="static/codeforce.jpg" alt="Card image">
              <div class="card-body">
      
                <a href="{% url 'codeforce_user_view' %}" class="stretched-link"><b>Codeforce Application</b></a>
              </div>
            </div>
        </div>


    <div class="jumbotron">
        <div class="card" style="width:320px" >
            <img class="card-img-top" src="static/github.jpg" alt="Card image">
            <div class="card-body">
          
              <a href="{% url 'github_Profile_view' %}" class="stretched-link"><h2><b>Github Application</b></h2></a>
            </div>
          </div>
        </div>
        
    </div>

</div>
</body>


 <!--footer section start-->
<footer class="bg-info text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

      <a class="text-light" href="">© 2022 Copyright: Nirjon</a>
    </div>
    <!-- Copyright -->
  </footer>
<!--footer section end-->


<!-- bootstrap js, jquery, popper -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 
 </html> 

